<h4><%= @article.title %></h1>
<p><%= @article.content %></p>

<%= link_to "All articles", articles_path %>
<%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

